*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
.contenedor{
  display: flex;
  flex-direction: column;
}
.carousel-container {
  overflow: hidden;
  position: relative;
  top: 70px;
}
.barraNavegadora{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  z-index: 1;
  position: absolute;
  top: 100px;
}
.enlace{
  color: #000;
  font-size: 25px;
  text-decoration: dashed;
  margin-right: 60px;
  font-weight:700;
}
.nombre{
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 40px;
}
.carousel-slide img {
  opacity: 300%;  
  width: 100%;
  height:100vh;
}
.btnBuscar{
  width: 15vh;
  height: 5vh;
  border-radius: 20px;
}
.inputBuscar{
  width: 35vh;
  height: 5vh;
  border-radius: 20px;
  background: transparent;
  filter: blur(1px);
}
.logo {
  top: 70px;
  width: 200px;
  left: 10vh;
  bottom: 50px;
  position: absolute;
  z-index: 1;
}
.logo img {
  width: 100%;
  height: auto;
  border-radius: 90px;
}
.titulo{
  text-align: center;
}
.ventas{
  margin-block-start: 10vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.etiqueta{
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.titulo3{
  text-align: center;
  font-weight:700;
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
}
.tarjeta{
  width: 300px;
  height: 400px;
  border-radius: 20PX;
  border: solid 1px gray;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  box-shadow: 2px 2px 2px 2px gray;
  cursor: pointer;
}
.nombrecatalogo{
  z-index: 1;
  font-size: 24px;
  position: relative;
  bottom: 170px;
}
.img-etiqueta{
  width: 270px;
  height: 350px;
  border-radius: 10px;
  position: absolute;
  transition: 0.5s;
}
.boton-etiqueta{
  background-color: blue;
  border-radius: 8px;
  border: 0;
}
.text-etiqueta{
  color: white;
  text-decoration: none;
}
.boton{
  border: none;
  padding: 10px 15px;
  position: relative;
  top: 90px;
  transition: .5s;
  overflow: hidden;
  background: linear-gradient(
    100 deg,
    
  );
}
.boton:hover{
  z-index: 1;
  border: 0;
  cursor: pointer;
}
.boton .ln-btn{
  position: absolute;
  background-color: #000;
  transition: .5s;
}
.boton .ln-btn:nth-child(1)
{
  width: 100%;
  height: 2px;
  top: 0;
  left: -100%;
}
.boton:hover .ln-btn:nth-child(1)
{
  left: 0;
}
.boton .ln-btn:nth-child(2)
{
  width: 100%;
  height: 2px;
  bottom: 0;
  right: -100%;
}
.boton:hover .ln-btn:nth-child(2)
{
  right: 0;
}
.boton .ln-btn:nth-child(3)
{
  width: 2px;
  height: 100%;
  bottom: -100%;
  left: 0;
}
.boton:hover .ln-btn:nth-child(3)
{
  bottom: 0;
}
.boton .ln-btn:nth-child(4)
{
  width: 2px;
  height: 100%;
  top: -100%;
  right: 0;
}
.boton:hover .ln-btn:nth-child(4)
{
  top: 0;
}

.contacto{
  height: 50vh;
}